Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

toolchain: explicitly run the recording step
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

toolchain: fix macOS build
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

docker: update pipeline
  .ci/docker.yml
Due: none

xctoolchain: sign bundle
  .ci/templates/xctoolchain.yml
Due: none

xctoolchain: add entitlements.plist
  .ci/templates/xctoolchain.yml
Due: none

windows: fix SDK location
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

linux: fix the SDK location for devtools
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

VS2019: add tensorflow variant of toolchain
  .ci/templates/toolchain.yml
  .ci/vs2019-tensorflow.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

SDK: list TENSORFLOW optional parameter for Windows
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

VS2019: fix tensorflow library path for Windows
  .ci/vs2019-tensorflow.yml
Due: none

VS2019: fix swift branch for tensorflow
  .ci/vs2019-tensorflow.yml
Due: none

VS2019: add tensorflow depedency for tensorflow build
  .ci/vs2019-tensorflow.yml
Due: none

toolchain: add support to PR test
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

SDK: enable support for TF in the SDK build
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: add support for PR testing TensorFlow repos
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: correct repository path
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

macOS: add tensorflow variant
  .ci/macOS-tensorflow.yml
  .ci/templates/xctoolchain.yml
Due: none

macOS: list new parameter
  .ci/templates/macos-sdk.yml
Due: none

macOS: fix tensorflow branch for swift
  .ci/macOS-tensorflow.yml
Due: none

macOS: attempt to use python 3.x for toolchain
  .ci/macOS-tensorflow.yml
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

macOS: disable python tensorflow temporarily
  .ci/macOS-tensorflow.yml
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

macOS: correct CMAKE_CXX_FLAGS for TensorFlow
  .ci/macOS-tensorflow.yml
Due: none

VS2019: temporarily disable TensorFlow swift APIs
  .ci/vs2019-tensorflow.yml
Due: none

macOS: fix SDK build for tensorflow variant
  .ci/templates/macos-sdk.yml
Due: none

repo: tweak checkout definitions
  default.xml
Due: none

repo: add a separate manifest for tensorflow
  tensorflow.xml
Due: none

Update tensorflow.xml
  tensorflow.xml
Due: none

macOS: fix tensorflow PR patching rules
  .ci/templates/macos-sdk.yml
Due: none

macOS: fix variables for xctoolchain
  .ci/templates/xctoolchain.yml
Due: none

macOS: merge the SDK and toolchain for the tensorflow build
  .ci/macOS-tensorflow.yml
  .ci/templates/xctoolchain.yml
Due: none
