Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

.ci/libxml2.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/libxml2.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      platform: linux

.ci/linux-sdk.yml:
  jobs:
  - template: templates/linux-sdk.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      triple: x86_64-unknown-linux-gnu

.ci/macOS.yml:
  schedules:
  - cron: 0 0 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly Build
  stages:
  - stage: toolchain
    jobs:
    - template: templates/toolchain.yml
      parameters:
        pool:
          vmImage: macOS-10.14
        arch: x86_64
        host: x64
        platform: darwin
  ...

.ci/sqlite3.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/sqlite3.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/stable-windows-toolchain-vs2019.yml:
  schedules:
  - cron: 0 17 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (5:00 PM) Build
  jobs:
  - template: templates/toolchain.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: aarch64
      host: arm64
  ...

.ci/toolchain-msi.yml:
  jobs:
  - job: windows_x64
    pool:
      vmImage: windows-2019
    steps:
    - task: BatchScript@1
      inputs:
        filename: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat
        arguments: -no_logo -arch=x64 -host_arch=x64
        modifyEnvironment: true
  ...

.ci/toolchain-vs2019-amd64-msi.yml:
  jobs:
  - job: windows_x64
    pool:
      vmImage: windows-2019
    steps:
    - task: BatchScript@1
      inputs:
        filename: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat
        arguments: -no_logo -arch=x64 -host_arch=x64
        modifyEnvironment: true
  ...

.ci/ubuntu-18.04-flowkey.yml:
  schedules:
  - cron: 0 * * * *
    branches:
      include:
      - master
    always: true
    displayName: Hourly Build
  stages:
  - stage: toolchain
    jobs:
    - template: templates/toolchain.yml
      parameters:
        pool: FlowKey
        arch: x86_64
        host: x64
        platform: linux
  ...

VS2017, VS2019: quoting, parameters, spacing
  .ci/vs2017-facebook.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

remove some deleted pipelines
  .ci/android-sdk-deb.yml
  .ci/windows-sdk-deb.yml
Due: none

linux: add toolchain deb
  .ci/templates/toolchain-deb.yml
  .ci/ubuntu-18.04-flowkey.yml
Due: none

linux: correct toolchain packaging
  .ci/templates/toolchain-deb.yml
Due: none

SDK: explicitly disable testing when building foundation
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

toolchain: correct typo
  .ci/templates/xctoolchain.yml
Due: none

linux: restore upload to apt.compnerd.org
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/toolchain-deb.yml
Due: none

windows: try to repair the devtools build
  .ci/templates/linux-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/linux-devtools.yml, .ci/windows-devtools.yml

toolchain: correct typo in packaging stage
  .ci/templates/toolchain-msi.yml
Due: none

sdK: homogenise, template more of the rules
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/linux-sdk.yml, .ci/windows-sdk.yml

android: rename SWIFT_ANDROID_SDK to CMAKE_Swift_SDK
  .ci/templates/android-sdk.yml
  cmake/caches/android-aarch64-swift-flags.cmake
  cmake/caches/android-armv7-swift-flags.cmake
  cmake/caches/android-i686-swift-flags.cmake
  cmake/caches/android-x86_64-swift-flags.cmake
Due: none

windows: rename SWIFT_WINDOWS_SDK to CMAKE_Swift_SDK
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  cmake/caches/Windows-x86_64-swift-flags.cmake
Due: .ci/windows-devtools.yml, .ci/windows-sdk.yml

SDK: further homogenise the argument order
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/linux-sdk.yml, .ci/windows-sdk.yml

SDK: introduce platform.directory, sdk.directory
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/linux-sdk.yml, .ci/windows-sdk.yml

SDK: use the new sdk.directory variable
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/linux-sdk.yml, .ci/windows-sdk.yml

SDK: convert from RelWithDebInfo to Release builds
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

CI: use compact form for publish
  .ci/templates/curl.yml
  .ci/templates/libxml2.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/sqlite3.yml
  .ci/templates/toolchain.yml
  .ci/templates/zlib.yml
Due: .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml, .ci/zlib.yml

VS2019: correct pipeline dependencies
  .ci/vs2019-google.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

powershell: remove scripts which no longer function
  InstallSwiftToolchain.ps1
  utilities/Download-SwiftArtifacts.ps1
Due: none

windows: pass path to swiftc to cmake in devtools
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

windows: dont use absolute path for swiftc on windows
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

windows: try without the extension
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

VS2019: fix sdk template usage
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

windows: adjust cache names
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-devtools.yml, .ci/windows-sdk.yml

normalize cache names
  cmake/caches/windows-aarch64-clang.cmake
  cmake/caches/windows-aarch64.cmake
  cmake/caches/windows-armv7-clang.cmake
  cmake/caches/windows-armv7.cmake
  cmake/caches/windows-i686-clang.cmake
  cmake/caches/windows-i686.cmake
  cmake/caches/windows-x86_64-clang.cmake
  cmake/caches/windows-x86_64-swift-flags.cmake
  cmake/caches/windows-x86_64.cmake
Due: none

windows: fix the underlying issue for devtools build
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

VS2019: make devtools more templated and fix cache path
  .ci/templates/windows-devtools.yml
  .ci/vs2019-google.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml, .ci/windows-devtools.yml

devtools: template further, homogenise, tweak windows rules
  .ci/templates/linux-devtools.yml
  .ci/templates/windows-devtools.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2019-google.yml
  .ci/vs2019.yml
Due: .ci/linux-devtools.yml, .ci/vs2019.yml, .ci/windows-devtools.yml

linux: add back needed parameter
  .ci/ubuntu-18.04-flowkey.yml
Due: none

linux: TSC is no longer vended by s-p-m
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

toolchain: attempt to repair Windows build
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

VS2019: adjust triggers
  .ci/vs2019-google.yml
Due: none

toolchain: add LLDB_FRAMEWORK_INSTALL_DIR
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

CI: add workaround for windows
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

toolchain: fix cherry-pick
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

toolchain: remove cherry-pick
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

toolchain: rename and require the RUN_TESTS parameter
  .ci/macOS.yml
  .ci/templates/toolchain.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

toolchain: reorder, make less dense
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

toolchain: better display names
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

Path conditions:
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml
